<div class="app row justify-content-center">
  <form class="form-group col-md-3 form" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <label for="inputPassword">Password</label>
    <div class="inputWrapper">
      <input
        [type]="isShowPassword ? 'password' : 'text'"
        class="form-control"
        id="inputPassword"
        placeholder="Password"
        formControlName="password"
      >
      <i
        id="togglePassword"
        [ngClass]="[
          'bi',
          'eye-icon',
          isShowPassword ? 'bi-eye-slash' : 'bi-eye'
        ]"
        (click)="showPassword()"
    ></i>
    </div>
    <app-password-bars
      [passwordToCheck]="this.passwordForm.value.password"
      (passwordStrength)="passwordValid($event)"
    ></app-password-bars>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!passwordIsValid"
    >
      Submit
    </button>
  </form>
</div>
